.main {
	color: white;
	background-color: #000;
}

.post {
	background-color: #fff;
	color: #000;
	padding: 40px;
	margin: 20px auto;
	max-width: 800px;
	border-radius: 5px;
}

.main .container {
	background-color: #191D1F;
}

.post h5 {
	font-weight: bold;
}