html,body {
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 970px;
}

.header {
	background-color: #332d2d;
}

.header ul {
	float: right;
}

.header li {
	display: inline-block;
	margin: 0;
}

.active {
	background-color: #ff2d2d;
}

.header ul.nav li a:hover {
	background-color: #ff2d2d;
}

.header a {
	color: #fff;
	transition: all 0.2s ease-out;
}

.main {
	background: url(images/cover2.JPG) no-repeat center center;
	background-size: cover;
	/*background: url(footer_lodyas.png) repeat;*/
	height: 250px;
	padding-top: 70px;
	text-align: center;
	color: #fff;
}

.supporting {
	background-color: #000;
	padding: 60px 0 40px;
}

.thumbnail {
	border: none;
	background: transparent;
}

.footer {
	background: #1e1c1c;
	height: 150px;
	color: #fff;
	padding: 40px 0;
	font-size: 12px;
}

.footer img {
	width: 30px;
}





@media (max-width: 600px) {
	.header li {
		text-align: center;
		width: 100%;
	}

	.header ul {
		float: none;
	}
}